*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  transition:
    background-color 1s ease-in-out,
    color 1s ease-in-out 1s,
    transform 1s ease-in-out,
    border-radius 1s ease-in-out;
}

button:hover {
  background-color: green;
  color: black;
  border-radius: 50%;
  transform: translate(100%, 90px);
}
