*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(32, 31, 31);
}

img {
  height: 200px;
  transition: transform 1s;
}

img:hover {
  /* transform: translate(-200px);
  transform: scale(2);
  transform: rotateY(360deg) translateX(500px); 1turn can also be use */
  transform: translateZ(200px);
}

.link_one,
.link_two,
.link_four {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 20px 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 5px;
  transition: all 1s;
}

.link_one:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #351435;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 1s;
}

.link_one:hover:before {
  transform: translateX(0);
}

.link_one:hover {
  color: white;
}

.link_two:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: transform 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.link_two:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: transform 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.link_two:hover:before,
.link_two:hover:after {
  transform: rotate(0);
}

.link_two:hover {
  color: white;
}

.link_three {
  text-decoration: none;
  padding: 20px 40px;
  color: #e1332d;
  border: 3px solid #e1332d;
  text-transform: uppercase;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.5s;
}

.link_three:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid #e1332d;
}

.link_four {
  border: 3px solid white;
  color: white;
}

.link_four:before {
  content: "YEAH!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  transform: translateY(-100%);
}

.link_four:hover:before {
  transform: translateY(0);
}
