*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  height: 200px;
  transition: transform 1s;
}

img:hover {
  /* transform: translate(-200px);
  transform: scale(2);
  transform: rotateY(360deg) translateX(500px); 1turn can also be use */
  transform: translateZ(200px);
}

.link_one,
.link_two {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 20px 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 5px;
  transition: all 1s;
}

.link_one:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #351435;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 1s;
}

.link_one:hover:before {
  transform: translateX(0);
}

.link_one:hover {
  color: white;
}

.link_two:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: transform 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.link_two:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: transform 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.link_two:hover:before,
.link_two:hover:after {
  transform: rotate(0);
}

.link_two:hover {
  color: white;
}
